[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
raven = {extras = ["flask"]}
Flask = "*"
Flask-Script = "*"
python-nginx = "*"
requests = "*"
Twisted = "*"
google-cloud = "*"
SQLAlchemy = "*"
sqlalchemy_bigquery = "*"
pycodestyle = "*"
scikit-learn = {extras = ["alldeps"]}
simple-salesforce = "*"
nose = "*"
service-identity = "*"
pytest = "*"
pytest-cov = "*"
mock = "*"
pandas = "*"
update = "*"
tensorflow = "==1.10"
keras = "*"
matplotlib = "*"
"google.cloud" = "*"
"h5py" = "*"
cython = "*"

[dev-packages]

[requires]
python_version = "3.6"
